---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout title="Blog">
  <h1>DEBUG: {posts.length} posts</h1>
  {posts.map(post => (
    <div>
      <h2>{post.data.title}</h2>
      <p>{post.data.date.toLocaleDateString()}</p>
    </div>
  ))}
</Layout>
