--- 
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
--- 

<Layout title="Blog">
  <main>
    <h1>Blog</h1>
    
    {#each posts as post}
      <article>
        <h2>{post.data.title}</h2>
        <p>{post.data.date.toLocaleDateString()}</p>
        <a href={`/blog/${post.slug}`}>Read more</a>
      </article>
    {/each}
  </main>
</Layout>
