---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout title="Blog">
  <h1>{posts.length} bài viết</h1>
  {posts.map(post => (
    <div>
      <h2>{post.data.title || 'No title'}</h2>
      <p>{post.data.date || 'No date'}</p>
    </div>
  ))}
</Layout>