---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog').catch(() => []);
console.log('POSTS count:', posts.length);
---

<Layout title="Blog">
  <h1>Blog</h1>
  
  {#if posts.length > 0}
    {#each posts as post}
      <article>
        <h2>{post.data.title}</h2>
        <time>{post.data.date.toLocaleDateString()}</time>
        <a href={`/blog/${post.slug}/`}>Đọc tiếp</a>
      </article>
    {/each}
  {:else}
    <p>Chưa có bài viết nào...</p>
  {/if}
</Layout>
