---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
}

const { title = 'Learn Lab Web' } = Astro.props;
---

<!doctype html>
<html lang="vi">
<script>
  if (window.location.hash.includes('invite_token') || 
      window.location.hash.includes('confirmation_token') ||
      window.location.hash.includes('recovery_token')) {
    window.location.href = '/admin/#' + window.location.hash.split('#')[1];
  }
</script>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <body class="bg-white text-slate-900">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
